In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
data = pd.read_csv("/Users/bitanpaul/Documents/Academics/ML/CSVs/spam_ham_dataset.csv")

In [3]:
data

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [4]:
data.isnull().sum() #we need to detect & delete every null values from the data set

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

In [5]:
X, Y = data.text, data.label #defining x=subject of mail & y= label i.e. ham/spam

In [6]:
X_train, x_test, Y_train, y_test = train_test_split(X,Y, test_size = .3) #spliting subject & label into traing & testing

In [7]:
vectorizer =CountVectorizer() #CountVectorizer is a function used for converting texts of subject into numbers

In [8]:
count = vectorizer.fit_transform(X_train.values) #CountVectorizer converting texts of train subjects into numbers

In [9]:
count #count of numbers that are converted from subject

<3619x38627 sparse matrix of type '<class 'numpy.int64'>'
	with 315859 stored elements in Compressed Sparse Row format>

In [10]:
clf = MultinomialNB() #conditional probablity formula is defined inside Multinomial function

In [11]:
targets = Y_train

In [12]:
clf.fit(count, targets) #count=input & target=output is to be fitted in the naive bayes algo i.e. clf

MultinomialNB()

In [13]:
y_pred=clf.predict (vectorizer.transform(x_test)) #predicting the accuracy using predict part of data set

In [14]:
confusion_matrix(y_test, y_pred) #tn & tp should be higher than fn & fp

array([[1090,   14],
       [  22,  426]])

In [15]:
accuracy_score(y_test, y_pred) #accuracy of this ml model is 97%

0.9768041237113402